<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzKjiKrWHUCA00x22ZYPIipCRYmRCOKR8</string>
	<key>GCM_SENDER_ID</key>
	<string>511470048566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitalflowConnect</string>
	<key>PROJECT_ID</key>
	<string>vitalflowconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>vitalflowconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511470048566:ios:cbbb0b69bf829277a04f97</string>
</dict>
</plist>